body {
    margin: 0;
    font-family: grandstander;
    overflow-y: scroll;
    overflow-x: scroll;
    background-image: url("homepage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 150% 100%;
    
}

.page-content {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    min-height: 5vh;
    min-width: 1vw;
    color: #383838;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.page-content-left {
    margin-left: 2vw;
    margin-top: 0vh;
    margin-bottom: 3vh;
    min-height: 5vh;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.intro-block {
    background-color: #21232A;
    color: white;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 1em;
    margin-bottom: 25px;
}

.title-block h1 {
    font-family: grandstander;
    font-weight: normal;
    font-size: 16pt;
    align-items: center;
    
}

.title-block h1 span {
    color: green;
}

.title-block p {
   font-family: grandstander;
    font-weight: normal;
    font-size: 12pt;
    line-height: 1.5em
}

.container {
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center
    max-width: 68rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5 rem 3 rem  -0.75rem hsla(0, 0%, 0% 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;    
}

.slider-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    position: relative;
    bottom: 1.25rem;
    transition: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.page-content-right {
    font-family: grandstander;
    margin: 0;
    padding: 20px;
    margin-left: 5em;
    background-color: #21232A;
    border-radius: 1em;
    color: #383838;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




