body {
    margin: 0;
    
}

.page-content {
    margin-left: 5vw;
    margin-right: 15vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    min-height: 5vh;
    min-width: 1vw;
    color: #383838;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-block h1 {
    font-family: grandstander;
    font-weight: normal;
    font-size: 16pt;
    align-items: center;
    
}

.title-block h1 span {
    color: green;
}

.title-block p {
   font-family: grandstander;
    font-weight: normal;
    font-size: 12pt;
    line-height: 1.5em
}

.home-image {
    display: flex;
    flex-direction: row;
}

#home-image {
    max-height: 50%;
    max-width: 90vw;
}

